<%= form_for(@record, :html => { :multipart => true }) do |f| %>

<table class="table"><br>
 <div>

  <tr><td><%= f.label :Article_Name  %></td>
    <td><%= f.text_field :name, class: "form-control" %></td>
</tr>
<tr><td>
  <%= f.label :Description %></td>
<td>
  <%= f.text_area :description, class: "form-control" %></td></tr>
<tr>
<td><%= f.label :Add_Tag %></td>
<%= f.fields_for :tags do |d| %>
<td><%= d.text_field :tag_name, class: "form-control" %></td>
<% end %></tr>
  
  <tr>
  <%= f.fields_for :photos do |m| %>
      <div class="field">
  <td><%= m.file_field :avatar, :name => "record[photos_attributes][0][avatar]" %></td>
   <td><%= m.file_field :avatar, :name => "record[photos_attributes][1][avatar]" %></td>
     </tr>
</div>
<% end %> 

</div>
</table><br>
<div class="actions">
 <%= f.submit %>
</div>
<% end %><br>
