<h3><%= "Edit Article" %></h3><br>
<table class="table table-responsive"> 

<%= form_for(@record, :html => { :multipart => true }) do |f| %>
<tr>
<td><%= f.label :Article_name %></td>
<td><%= f.text_field :name, class: "form-control" %></td>
</tr>
<tr>
<td><%= f.label :description %></td>
<td><%= f.text_area :description, class: "form-control" %></td>
</tr>
<tr>
 <td><%= f.label :Tag %></td>
</tr>
<%= f.fields_for :tags do |d| %>
<% unless d.object.tag.blank? %>
<tr><td><%= d.object.tag %></td>

<td><%= link_to "Remove", tag_path(d.object.id), method: :delete, data: {confirm: 'Are u Sure' } %></td>
<% end %>

<% end %>
 </tr>

<tr><%= f.fields_for :photos do |m| %>
 <td>
  <%= image_tag m.object.avatar %>
  <%= m.file_field :avatar %>
   <%= link_to "Delete", photo_path(m.object.id), method: :delete, data: {confirm: "Are u sure" } %>
  </td><% end %></tr>
<tr><td>
<%= f.label :Add_photo %></td>
<td><%= f.fields_for :photo do |n| %>
<%= n.file_field :avatar, :name => "record[photos_attributes][10][avatar]" %></td>
<% end %>
</tr>
<tr><td><%= f.label :status %></td><td>
<%= f.radio_button :status, 'Complete' %>
<%= f.label :status, 'Complete', :value => "Complete" %>
<%= f.radio_button :status, 'Reviewed' %>
<%= f.label :status, 'Reviewed', :value => "Reviewed" %>
<%= f.radio_button :status, 'Published' %>
<%= f.label :status, 'Published', :value => "Published" %>
</td>

</tr><tr><td>
<div class="actions" %>
 <br> <%= f.submit %></td></tr>
</div>
<% end %>
<br>
</table>
<%= link_to "Show", record_path, class: "btn btn-default btn-sm" %>
<%= link_to "Back", records_path, class: "btn btn-default btn-sm" %>
